@{
    ViewData["Title"] = "Deployment Slots";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Deployment slots.</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Testing Deployment Slots</a>.</p>
    <h3>Deployment slots feature</h3>
</div>
