@{
    ViewData["Title"] = "UAT Slot Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome UAT Slot page</h1>
    <p>Testing new feature - UAT Slot</a>.</p>
    <h3>@ViewData["Greeting"]</h3>
</div>
